@import '/assets/media-queries.scss';

.hero {
  position: relative;

  .inner {
    position: relative;
    z-index: 1;
        align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100dvh;
    padding: calc(var(--header-height)) var(--x-spacing) calc(var(--x-spacing) * 2);
  }
}

.description{
  display: none;
}

.title {
  margin-bottom: 3rem;
  @include respond-above(xl) {
    max-width: 68vw;
  }
  .splitLine {
    overflow: hidden;
    margin: calc(-1 * 4rem) 0;
    padding: 2rem 0;
    &:nth-child(2) {
      .splitWords{
        background: -webkit-linear-gradient(hsl(var(--color-white)), hsl(200, 60, 82));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  h1 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-xl);
    line-height: 1;
    opacity: 0;
    transition: all 0.3s ease-in;
    color: hsl(var(--color-white));
    @include respond-above(xl) {
      max-width: 68vw;
      line-height: 0.9;
    }
  }

  .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 9rem;
    border-radius: 100vw;
    vertical-align: baseline;
    overflow: hidden;
    margin: 0 1.5rem;
    z-index: 111;
    position: relative;
    @include respond-below(xml) {
      height: 7.8rem;
      width: 24rem;
    }
    @include respond-below(lg) {
      height: 6.4rem;
      width: 20rem;
    }
    @include respond-below(md) {
      margin: 1.5rem auto;
      display: flex;
    }
    .heroImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.6);
      transform-origin: left center;
      border-radius: 100vw;
    }
    .reveal {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #b9b5db, hsl(var(--color-bg)));
      z-index: 1;
      border-radius: 100vw;
    }
  }

  p{
    font-size: var(--fs-md);
    font-weight: var(--fw-light);
    color: hsl(var(--color-white));
    max-width: 70rem;
    margin: 6rem auto 0;
  }
}

.description {
  margin-bottom: 3rem;
  font-size: var(--fs-sm);
  color: hsl(var(--color-white));
  max-width: 50rem;
}

.typewriter{
  >div{
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 100px;
    width: fit-content;
    white-space: nowrap;
    background-color: #ccfcff; 
    background-image: linear-gradient(to right, #deccff, #c772f6, #1e90ff) !important;
    background-size: 100%;
    // box-shadow: 0 10px 30px rgba(0, 23, 45, 0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    :global(.Typewriter__cursor){
      -webkit-text-fill-color: initial !important; /* Webkit fix */
      color: white !important; /* Fallback for other browsers */
    }
    >div{
      box-shadow: 0 10px 30px rgba(153, 4, 4, 0.3) !important;
    }
  }
}

.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;

  > * {
    position: absolute;
  }

  .noise {
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url('/noise.png') repeat;
    pointer-events: none;
  }

  .line {
    width: 50%;
    height: 100%;
    display: flex;

    &.lineLeft {
      left: 0;
    }

    &.lineRight {
      right: 0;
    }

    svg {
      width: 100%;
      height: auto;
      margin-top: auto;
    }
  }
}

.fakeContainer {
  position: absolute;
  inset: 0;
  opacity: .5;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  z-index: -999999;
}

.myImage{
  position: relative;
  width: 50%;
}

.particlesBG {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  user-select: none;

  > * {
    width: 100% !important;
    height: 100% !important;
  }
}


.figure{
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background: linear-gradient(113deg, #DECAFF 11.44%, #691EE2 60.27%);
  box-shadow: -35.036px -50.051px 80.1px 0px rgba(172, 60, 225, 0.76) inset, 0px 20.02px 40px 0px rgba(194, 255, 255, 0.25) inset, 0px 0px 24px 0px rgba(255, 255, 255, 0.26) inset;
  overflow: hidden;
  box-shadow: 0 1rem 5rem 1rem hsla(var(--color-black), .2);
  transition: all .3s ease;
  pointer-events: none;
  user-select: none;
  // z-index: ;
  &:before, &:after{
    content: '';
    position: absolute;
    top: 50%;
  }
  &:before{
    z-index: -2;
    left: 10%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    filter: blur(8rem);
    background: linear-gradient(180deg, rgba(0, 194, 255, 0.00) 0%, #9829ff 100%);
    transform: translate(-50%, -80%);
  }
  &:after{
    z-index: -2;
    left: 40%;
    width: 90%;
    height: 100%;
    filter: blur(8rem);
    background: linear-gradient(180deg, rgba(24, 75, 255, 0.00) 0%, #174AFF 100%);
    transform: translate(-50%, -50%);
  }

  &.isActive{
    transform: scale(0.8);
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 7%;
    z-index: 1;
  }
}

@media screen and (max-width: 1000px) {
  .figure{
    width: 20rem !important;
    height: 20rem !important;
  }
}

@media screen and (max-width: 480px) {
.inner{
  display: block !important;
  text-align: -webkit-center;
}
.figure{
  width: 10rem;
  height: 10rem;
}
.title{
  margin-bottom: unset;
  h1{
    font-size: var(--fs-lg) !important;
  }
}
.typewriter{
  >div{
    font-size: 3rem !important;
  }
}
.description{
  display: block;
  margin-top: 10%;
  font-size: var(--fs-xs);
  color: rgb(219, 218, 218);
}
}

@media screen and (max-width: 480px) {
  .background{
    height: 70%;
  }
  .line{
    height: 75% !important;
  }
}

@media screen and (max-width: 1000px) {
  // .background{
  //   height: 70%;
  // }
  .line{
    height: 75% !important;
  }
}