.section{
    position: relative;
    padding: 0;
    background: hsl(var(--color-bg-alt)) !important;
  }

  .blobs{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .blob{
    pointer-events: none;
    user-select: none;
    &.blobV1 {
      top: 20%;
      height: 20%;
    }
    &.blobV2 {
      top: 20%;
      height: 40%;
    }
  }